# Neero Payment Integration
NEERO_API_KEY=
NEERO_MERCHANT_ID=

# App Configuration
APP_URL=https://ais-dev-asaids4o77c3lluhnpf5m2-642186813337.europe-west2.run.app
SHARED_APP_URL=https://ais-pre-asaids4o77c3lluhnpf5m2-642186813337.europe-west2.run.app
